<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>

<body>
    <div class="layout-container flex h-full grow flex-col">
        <header class="top-main-nav">
            <nav>
                <ul>
                    <li><a href="/dashboard/" class="flex items-center gap-2">Tableau de bord</a></li>
                    <li><a href="/projects/" class="flex items-center gap-2">Projets</a></li>
                    <li><a href="/ressources/" class="flex items-center gap-2">Ressources</a></li>
                    <li><a href="/tickets/" class="flex items-center gap-2">Tickets</a></li>
                </ul>
            </nav>
        </header>
        <div class="content-container">
            <h1>Dashboard</h1>
        </div>
    </div>
</body>
</html>

