}% endblock %tive_tab %}{ac

{% block block %}
{% endpt>

}
</scri};
    ')ctive'at.add(sLisn.clastiveButto ac    {
   ) ttonctiveBu(a`);
    if Name}')"]abTab('${t="showonclickctor(`[ySeleent.querumtton = docctiveBu   const a;
    
    })      }
 ;
  ('active').removeistclassL   button.       {
   on)tt(bu    if 
    tton => {.forEach(buons
    tabButtton');.tab-butll('lectorAuerySeent.qons = docum tabButtconsts
    d'onglet boutons our lesettre à j  // M 
    ';
    }
  = 'blockle.displaystyelectedTab.{
        s) dTabecteelif (s
    ame);Id(tabNElementByument.getb = docelectedTanst s
    coonnéglet sélecti'on Afficher l
    //    
    });

        }e';nonay = 'spl.dile.sty         tab   (tab) {
     if{
    > rEach(tab =fos.   tab');
 tent.tab-conAll('uerySelectordocument.qnst tabs =   coets
   les onglMasquer tous // e) {
   tabNamn showTab(iot>
functip>

<scrpt
</scri););
}derCalendar(l
    renitiadu inRen//   
    
  ;
    }luekieVa coo      return      }
   }
        
          }           break;
          
          );ength + 1)ame.lg(nine.substrnt(cookiComponecodeURIalue = de    cookieV                 + '=')) {
(name+ 1) === me.length ng(0, naie.substri    if (cook         ();
   trimi].cookies[t cookie =  cons     
          gth; i++) {es.len < cooki0; i (let i =          for
   ;');kie.split('cument.coo dost cookies =  con        {
  !== '') ie ocument.cookie && dcument.cook if (do  ll;
     ue = nuieVallet cook    {
    e(name) tCookiion gefunct   
       }
 , 3000);
    });
         }, 300     on);
   ificatiild(noty.removeChodocument.b           d => {
     Timeout(()  set
          );te-x-full'ranslaList.add('tlassion.cificat        not
    > {Timeout(() =
        setecondes3 sprès imer a // Suppr   
       0);
      10
        },ll');ate-x-fuove('translList.remon.classicatiotif         n
   t(() => {meouTi    setrée
    imer l'ent// An       
 ;
        on)d(notificatiilChend.appment.body        docuage;
= messntent Coexton.tatiotific        n    
   }
        
 t-white');, 'tex-blue-500'.add('bgassListation.clicif     note {
         } els
      white');, 'text--500'redbg-List.add('on.classatific     noti) {
       rror'ype === 'ee if (t els     };
   t-white'), 'texeen-500'bg-gr('assList.addfication.cl       noti{
     ') ss 'succe== =pe(ty        if  
`;
       e-x-fullm translatnsforraation-300 tall duransition-adow-lg trd-lg shundez-50 p-4 ro-4 ghtop-4 rixed te = `fissNamication.cla  notif     
 ent('div');t.createElem = documentionotificaonst n   cn
     atiotificnoéer la       // Cr{
  info') type = 'n(message, Notificatioshowfunction 
      }
    
  
        }idden');add('hv.classList.errorDi        iv) {
    f (errorD i    r');
   ErrovalidationById('mentetEle document.gerrorDiv =t   cons     
 {or() lidationErrhideVan    functio }
    
    }

        nter' });k: 'ce bloc: 'smooth',w({ behaviorlIntoViescrol errorDiv.          sage
 ror mesercroll to // S            en');
ove('hiddassList.rem errorDiv.cl        e;
   ssag = me.textContentorText   err{
         rrorText) && e (errorDiv        if
 xt');ationErrorTelid('vaementByIdgetEldocument.orText = st err con);
       or'ionErr'validatd(ntByIgetElemeument.iv = docerrorD     const  {
   (message)ationErrorhowValidtion s
    func   e;
    }
 turn tru
        re }
        
       turn false;         re
   00');et 18h0  entre 8h0 doit être fin der('L\'heureationErro showValid      )) {
     nutes() > 0e.getMidDateTim18 && enHour === end8 || (our > 1 || endH< 8if (endHour       
   }
              rn false;
     retu        18h00');
 e 8h00 et entroit être d débutde('L\'heure rrorationE  showValid          >= 18) {
 artHour|| st 8 our <tH (starif       
 );
        ours(me.getHdDateTi ent endHour =   cons);
     ours(ateTime.getHstartDur = st startHocon     
   blelexis fh-18h) - pluavail (8heures de trer les fi    // Véri  
      
    
        }n false;tur       re);
     jours'épasser 7 as d peut p activité nerror('UnewValidationE    sho
        s > 7) {ffDay   if (di);
      60 * 24(1000 * 60 *) / teTimeDarttateTime - s = (endDast diffDays     con7 jours
   sse pas vité ne dépatir que l'ac  // Vérifie    
         }
    
     alse;  return f     t');
     eure de débuate et he après la dent êtroivre de fin ddate et heua r('LErroionidat  showVal         e) {
 TimtDatetar <= seTime (endDat  if     
 e débute de/heurrès la datfin est apure de date/her que la fie   // Véri 
            dTime}`);
r}T${endDateState(`${en= new Dime nst endDateT    co);
    startTime}`teStr}T${e(`${startDaw Dat = neeTimetDattar s    const {
    e)eStr, endTimndDattartTime, eteStr, srm(startDactivityFon validateAfunctio
     utilitairesnsnctio// Fo  
    
  
    }       });;
           })    `;
           
     </span>                é</span>
  ivit>Créer l'act       <span       
          svg>      </           h>
       </pat">-6 0H66m0-6h6mv6m0 0vd="M12 62" h="-widtke stroound""rjoin=-lineketro" sroundp="caineth stroke-l         <pa                ">
    24="0 0 24ox viewBolor""currentC" stroke="none" fill=ss="w-4 h-4    <svg cla                    ">
e-x-2r spacfy-centestinter juems-ceex itclass="flpan       <s          `
     innerHTML =n.bmitBt        su        false;
 ed =n.disabl  submitBt         ton
     utubmit bnable sRe-e         // {
       nally(() => .fi    })
                    ge);
error.messativité: ' + l\'acn de créatio de la Erreur lorsrror('dationEhowVali      s
          ror);rreur:', errror('Econsole.e            
    or => {ch(err      .cat  
            })     }
              
 tivité');n de l\'acéatioors de la crur l || 'Erreessageor(data.mnErrValidatio        show           eur
       // Err           
    {} else        
        Calendar();er     rend        
       ess');succcès!', 'éée avec succré 'Activitication(tifwNo   sho                 seModal();
        clo      ty);
      ta.activi.push(daActivitiesproject              rier
       calendrecharger leal et  locleauau tabivité l'actajouter Succès -      //             s) {
   ccessuata. if (d             
   {then(data =>      .      json())
sponse. => ren(response      .the      })
         ta)
   (activityDastringifyy: JSON.od   b                   },
 
         rfTokenken': cs'X-CSRFTo                    ',
ication/jsonype': 'applntent-T         'Co          aders: {
     he           ST',
 thod: 'PO  me        `, {
      ivity/}/create-actoject.id }/{{ prcalendarrojects/tch(`/p    fee
        quêta reoyer l   // Env          
        );
   ftoken'csrCookie('et.value || g]')waretokeniddle=csrfmamelector('[nquerySeent.n = documrfToke cs  const
          or cookierm m the foen froet CSRF tok       // G        
       `;
              n>
   </spa        pan>
     on...</sCréati <span>                   </svg>
                  /path>
   2H15"><m15.35701-15.357-20 003 0a8.003 8.581m0 1v-5h-.9m11 10H0 004.582 9m01 0 .0 2A8.001 8h.582m15.356M4 4v5""2" d=idth= stroke-wnd"ejoin="rouke-lintro sp="round"-linecaroke  <path st            
           24">"0 0 24ewBox=tColor" viren"cur" stroke=one4" fill="n-spin w-4 h-telass="anima  <svg c                 -x-2">
 cey-center spaustifnter jlex items-ce="flass <span c            ML = `
   rHTinnetBtn.submi           e;
 sabled = truubmitBtn.di        s state
    w loading sho andit buttonsable subm       // Di           
     };
            .id }}
 { project {t_id:projec               :00`,
 me}{endTi{endDate}T$e: `$d_datetim      en    00`,
      startTime}:tDate}T${arst `${atetime:rt_dta       s       CT',
  OJEype: 'PRtivity_t      ac          ption,
rin: descriptio  desc      ,
        ''}${title}` :  '] ' type +? '[' +ype itle: `${t      t
          vityData = {onst acti      c
      er à envoyonnéesire les d  // Constru                 
}
           
      ;urn         ret  ) {
     , endTime)me, endDate startTim(startDate,ActivityFor!validate      if (
                      }
  
          return;          ires');
  ligato obamps sont chor('Tous lesnErrdatio   showVali          type) {
    !scription || !dedTime ||en || !| !endDateTime ||| !starttartDate le || !s if (!tit    on
       dati Vali  //
                  pe');
    get('ty formData.const type =         ');
   ription('descormData.getription = fconst desc      ');
      metiget('end_a. = formDatmedTi en  const     );
     ate'a.get('end_datrmDndDate = foconst e            ;
art_time')('stta.get= formDatTime const star       
     t_date');'starata.get(te = formDt startDa        cons);
    itle'mData.get('tfor= nst title          corm);
   tivityFormData(addAc= new Fota t formDa  cons       
    formulaires duonnée d leser // Récupér         
   
           urn;led) retmitBtn.disab(sub         if   t"]');
 ="submiutton[type('blector.querySeActivityFormtn = additBonst subm   c
         nsissioiple submPrevent mult //                
        ault();
tDef   e.preven
         nction(e) {fur('submit', eneaddEventListorm.tyF addActivi   orm) {
    ddActivityF(a   if laire
  du formuoumissiontion de la s // Ges
    
   });
           }    }
        ;
 al()eMod     clos          
 odal) {ActivityM== adde.target =      if (      on(e) {
uncti fr('click',nedEventListedal.adctivityMo       addAyModal) {
 Activitf (add    i
eurextériant à l'al en cliqurmer le mod    // Fe
    
   }l);
 odaoseMck', cltener('clidEventLisy.adivitancelAddAct   c     {
y) itlAddActivf (cance
    i}
    
    dal);loseMolick', cistener('cl.addEventLivityModaloseAddAct     c) {
   ctivityModalAddA if (close
    
       }
    }  }
    
          onError();ideValidati           h
     et();vityForm.res   addActi      {
        orm)ctivityF(addAf            i
 formulaire le nitialiser     // Réi 
                ow = '';
  erfldy.style.ovcument.bo   do         l du body
croler le sestaur  // R
                    
  hidden');List.add('Modal.classity   addActiv  
       al-show');.remove('modal.classListActivityMod         add{
   yModal) ivitaddAct     if (
   Modal() {tion closeunc fmodal
   mer le 
    // Fer   }
  ;
       })
    'hidden';overflow = style..body.ent  docum
          oll du body le scrherêc // Emp     
                  ;
odal-show')t.add('m.classLisyModalctivit    addA       
 e('hidden');sList.removodal.clasyM  addActivit  e
        ffichag'a classe dt ajouter laquage e masclasses de les Retirer      //         
   
       lues();ltFormVaefautD        sees
    lum vafort default      // Se          
      ();
   onopPropagati   e.st        lt();
 entDefau    e.prev  
      n(e) {ck', functioener('cliListn.addEventtyBtActiviadd       {
  vityModal)addActiyBtn && Activitif (add
    itéd'activut d'ajo le modal  // Ouvrir    
   
    }
0:00';e = '1.valume')dTitById('ennt.getElemencume
        do'; '09:00me').value =tartTiId('sElementBynt.getcume  dos
      default timet       // Se 
  
       ];lit('T')[0ing().spoISOStre = today.t).valud('endDate'ElementByIgetdocument.        fault)
 by de activityayay (same d todate toend det default      // S
   0];.split('T')[tring()ISOS today.to').value =DateyId('startlementBment.getE   docu    
 e to todayart dat stSet default   //      
     
   new Date();today =      const () {
   eslumValtForion setDefau    functe form
r ths foalue default v Set 
    //iew);
   wMonthVclick', shoner('tListeaddEvennthBtn.backToMo    
    
}
    });       ();
 daren   renderCal   
      onthView) {isM   if (  );
           }ic'
numer    year: '        
: 'long',onth       m     ', {
tring('fr-FRcaleDateSoLoate.t currentD =ContentextrDisplay.t monthYea
       r();FullYeagete. currentDatentYear =      curr 1;
  nth() +etMoDate.gntnth = currerrentMo       cu
 + 1);h() tMontentDate.geurrth(contDate.setMrren cu        => {
'click', ()tListener(.addEvenonthBtn   nextM    
 ;

    })     }
   lendar();Caerrend         w) {
   ief (isMonthV        i;
      })numeric'
      year: '    long',
     'month:         
   {'fr-FR', ng(triLocaleDateSDate.torenttent = curay.textConYearDisplth   monr();
     getFullYeaentDate.ear = curr currentY
       th() + 1;getMonte.currentDatMonth =  curren      1);
 h() - onttDate.getMth(currenMonntDate.set     curre => {
   , ()'click'Listener(ddEventMonthBtn.a    prevnavigation
nts de Événeme   // 
    
  };n');
   demove('hidclassList.reyBtn.vitActi add
       en');st.add('hiddtn.classLithB   backToMon
     d('hidden');sList.adew.clasVi      day
  ('hidden');sList.removeclasrid. calendarG   ière
    nal jourue ver laer et masqudrialen du cgrilleAfficher la //   
           null;
    = tedDay  selecue;
      nthView = trisMo
         => { = ()iewwMonthV   const sholle
 a vue mensuer à levenipour rtion nc/ Fo   /
    
     };   }
     ties);
rActivihild(houendCent.appewCont  dayVi    
      ourLabel);ndChild(hnt.appeewConte    dayVi             
     
         } });
                   y);
 ayActivitld(ds.appendChitieurActivi      ho                
              
     }                ss';
   nprogreame += ' iassNty.cldayActivi                     ling
   efault styack to d// Fallb                       lse {
   } e           ';
       #333333 : '00000'? '#028 ightness > 1e.color = brctivity.stylayA        d        0;
         / 100b.b * 114)rg87 + + rgb.g * 5299 b.r * = (rghtness st brig        con            or);
    e_colyey.emploRgb(activit = hexTonst rgb co                     ss
  ightneound brbackgron color based st text  Adju          //                   
         
          = '4px';idth rLeftWstyle.bordeivity.    dayAct              ;
      e_colorvity.employectior = aderLeftCole.bory.styl dayActivit                    pacity
   ; // 20% o0`oyee_color}2vity.empl `${actid =rounackgle.btivity.sty  dayAc                     _color) {
 employeetivity.   if (ac                 s
ivitieactay view  dlor to-specific coy memberppl // A                      
               `;
                      v>
ion}</diy.descripttivit${acscription">ity-detivs="day-aciv clas      <d        
          }</div>git'})inute: '2-di mit',dig'2-', {hour: r-FRring('fLocaleTimeStndDate).tovity.eate(acti ${new D} -t'})e: '2-digit', minutour: '2-digi{hfr-FR', ing('meStreTite).toLocalrtDaity.staivctte(a">${new Daivity-timeday-actclass="<div                         le}</div>
ty.titactivi">${tlevity-tiday-actidiv class=" <                      
 erHTML = `y.innayActivit  d                  tivity';
= 'day-acame ivity.classN  dayAct            
      ent('div');Elemreate document.city =ivdayAct      const           {
     (activity =>rEachtiesList.fovi hourActi          {
           } else'';
       HTML = s.innervitie  hourActi       
       == 0) { =st.lengthsLirActivitie(hou        if           
);
        }        ur;
  r === hooun activityH      retur         rs();
 ate).getHoutartD.svityw Date(acti netyHour =ivit act    cons           vity => {
 ter(actis.fil = activitiestitiesLit hourActiv     consure
       heette pour cvités  acti les/ Filtrer       /          
       ties';
our-activi 'hlassName =ies.ctiviturAc   ho         iv');
('dlementateEcument.crevities = docti const hourA  
                 
    r}:00`;{hountent = `$Label.textCo    hour    
    '; 'hour-labele =el.classNam     hourLab
       nt('div');eElemet.createl = documenhourLabonst            c
 our++) {r <= 20; hur = 9; houhot  (le
        forhorairesx neaues cré// Créer l            
   '';
  L =innerHTMwContent.dayVie        
reue journalièe la vcontenu dénérer le        // G      
 
  });
        : 'numeric'    day,
        long' month: '          c',
 eri 'num    year:    
    long', 'ekday:         weFR', {
   r-ing('focaleDateStr.toLnt = dayDatetetextConiewHeader.   dayV);
      dayth(),ontDate.getMrenurYear(), cetFullDate.gate(currentte = new Dt dayDa    cons-tête
    our l'en/ Mettre à j     / 
   ');
       .add('hiddenlassListctivityBtn.c  addA;
      n')idde.remove('histssLthBtn.cla   backToMonen');
     emove('hiddst.rLi.class  dayView   );
   n'.add('hiddeistid.classLalendarGr      cière
  e journala vuer lffichet acalendrier ille du gr la er   // Masqu     
     
   false;thView = sMon     i= day;
   electedDay  s
       {ivities) => y, actw = (daDayVieonst show cre
   liè vue journaher laficn pour afonctio    // F  
};
     }
     );
    cellhild(pendCndarGrid.apcale             
         });
           ;
   ay)OnD activitiesew(day,  showDayVi        
       => {'click', ()entListener(ll.addEv          celière
  e journapour la vulic ment de cévéneter // Ajou                     
ainer);
   sContvitieChild(actil.append  cel             
 
                  }es);
  oreActivitipendChild(mntainer.apsCo  activitie          `;
    ible} autres- maxVisDay.length itiesOn `+ ${activtContent =ies.tex moreActivit            
   ctivities';me = 'more-aclassNativities.    moreAc      
      t('div');Elemennt.creates = documetivitiet moreAc      cons          le) {
 > maxVisiblengthay.itiesOnD (activ  if
          ctivités a plus d'a il y si+ X autres"fficher "   // A           
          ;
      })      yItem);
activitChild(pendntainer.apCotivities          ac  
                  tip);
  ld(toolndChityItem.appectivi         a;
         `    
          on}</div>iptiivity.descr">${actcription-destooltipy-activitclass="    <div       
          heures</div>} argetivity.che: ${acinfo">Chargtip-ity-toollass="activv c       <di       div>
      ee}</ivity.employné à: ${act>Assigtip-info"ity-tool="activ  <div class                  v>
y.title}</di">${activitip-titlety-toolt"activiclass=     <div             L = `
   nerHTMtooltip.in             
   p';-toolti= 'activityp.className ltioo           t);
     ement('div'nt.createElip = documeooltconst t         ip
       jouter toolt  // A                 
                    }
         ogress';
' inprme += .classNativityItemac                 g
   tylin default stoFallback        //              } else {
           ';
      : '#FFFFFF? '#000000'ness > 128 lor = brightem.style.cotivityItac             
       114) / 1000;b * + rgb..g * 587 * 299 + rgbs = (rgb.r st brightnes    con         ;
       oyee_color)ctivity.emploRgb(agb = hexT     const r              ess
 d brightnoun on backgrasedor bext col Adjust t          //       
                     color}`;
  employee_{activity.lid $x so = `2pyle.bordertyItem.st   activi               _color;
  eeemploytivity.aceftColor = borderLyle.vityItem.stti  ac         
         oyee_color;y.emplivitund = actackgrom.style.bItectivity       a             ) {
ployee_colorivity.em(act         if m
       y itere activito the enticolor tecific member-sp Apply           //              
   
     y.title;= activitextContent em.tyIttivit        ac';
        ity-item'activame = tem.classN activityI          ;
     t('div')ateElement.crecumen= doctivityItem nst a       co        vity => {
 tiEach(acisible).for maxVe(0,sOnDay.slicactivitie        = 3;
     maxVisiblenst   co     )
     isiblesmum 3 vités (maxiivher les actAffic  //           
                });
 y;
       eOnlat= endDy <nlllDateOeOnly && ceattartDnly >= sllDateO   return ce  
            (inclus)'activité de let la fin le début entrecellule est r de la joue si lffichée est a'activité // L           
                 
    ());etDatedDate.gyEnitnth(), activte.getModDativityEnllYear(), acDate.getFuvityEndte(actiw Da = nenly endDateOconst                ());
DategettartDate.yStivith(), acDate.getMontctivityStartear(), ate.getFullYtartDaactivityS= new Date(artDateOnly   const st            
  tDate());llDate.geonth(), cetM.ge(), cellDateetFullYear(cellDate.gteew Da neOnly =t cellDat   cons           eures)
   hans les(sles jours eulement omparer sour cles dates pNormaliser //                         
       ndDate);
 ity.e(activw Date = neivityEndDatect     const a       Date);
    ty.start Date(activinewStartDate = st activity      con          ity => {
actives.filter(Activiti projectDay =esOn activiti     const     
  ay);onth(), dtDate.getM), currenear(.getFullYtDateDate(currenDate = new  cell    const  rs)
      lti-joués muites activluant l (incce jourés pour activitr les rifie Vé  //              
';
        neraiies-contvitctiame = 'aainer.classNontctivitiesC         a   );
v'('direateElementument.c = dociesContaineritconst activ        ités
     activeur pour les// Conten               
        
 );ld(dateSpanendChi    cell.app        
y; datContent =.texdateSpan         e';
   lendar-datame = 'calassNeSpan.c       dat
     );n'nt('spaeateElemecument.cr= doan ateSp const d            cellule
 à lauter la datejo        // A   
             }
            );
.add('today'ist.classL        cell   
     Year()) {getFull === today.ar()e.getFullYe  currentDat         
     nth() && getModay. === toMonth()te.gettDa    curren        ) && 
    .getDate( === todayif (day         urd'hui
    c'est aujorifier si      // Vé  
            
    l';lendar-celame = 'ca.classNll     ce    'div');
   ment(nt.createEleumet cell = docnsco           y++) {
 nMonth; daday <= daysI; = 1let day       for (
  );Date(new st today = 
        conour du moishaque jlules pour celjouter les c/ A    /       
   
        }
  ll);CedChild(emptyenndarGrid.app   cale       tive';
  -cell inacendarame = 'calclassN  emptyCell.     
     ('div');eateElementdocument.crmptyCell = onst e         c
    i++) {gDay; i < startin 1;let i =       for ( mois
 mier jour du preurs avant lejoes des pour les vies cellulAjouter d      //        
  etDate();
 1, 0).gth() + e.getMon currentDatear(),ate.getFullYtDcurrenew Date( nInMonth =ysst da     con| 7;
   () |getDayrstDay.gDay = fiartinnst st co       ), 1);
th(etMontDate.grrenllYear(), cugetFuurrentDate.= new Date(cirstDay t f    consois
    du mour le premier jrminer     // Déte        
       });
 er);
    hild(dayHeadendCd.app calendarGri           ay;
 = dtContentexHeader.t      day;
      eader'lendar-day-h 'ca.className =der     dayHea      div');
 lement('ent.createE = documdayHeaderonst           c {
  ach(day =>.forEyNames
        da', 'Dim'];n', 'Sam 'Jeu', 'Ve, 'Mer','Lun', 'Mar'yNames = [st daon
        c joursêtes desut des en-t    // Ajo
    
        TML = '';d.innerHGri  calendar
      > {endar = () =renderCalst condrier
    le calener ur généronction po/ F
    
    /ull;
    }      } : n3], 16)
  lt[eInt(resu     b: pars     ,
  sult[2], 16)(reeInt   g: pars,
         ult[1], 16)esInt(rrse      r: pa      ? {
urn result et
        rex);exec(hd]{2})$/i.([a-f\]{2})[a-f\df\d]{2})(#?([a- = /^nst result       co
 ex) {gb(h hexToRunction  fto RGB
   hex vert conunction toelper f
    // H   ];
    
 }r %   {% endfof %}
     {% endi.last %},rloopnot fo% if 
        }{"ssogreus: "inpr    stat       }},
 |default:0 gehar.c activity charge: {{          r }}",
 ployee_colotivity.em{{ acor: "ee_col    employ
        _id }},.employeevity acti_id: {{yee     emplo
       apejs }}",mployee|escty.ectivioyee: "{{ a     empl,
       apejs }}"n|esc.descriptio{ activitytion: "{scrip  de        ",
   }}pejseting'|escafault:'mepe|detyvity.e: "{{ acti   typ        
 }}",:i:s' TH-m-d\te|date:'Ynd_da activity.edate: "{{    end_     }",
   :s' }:iY-m-d\THate:'_date|drtivity.sta"{{ actte:    start_da
         H:i:s' }}",te:'Y-m-d\Tnd_date|da{ activity.eendDate: "{        ",
    i:s' }}m-d\TH:te|date:'Y-t_dastaractivity."{{ tDate:     star",
        }|escapejs }ty.title"{{ activi     title: },
       y.id } {{ activit         id:   {
   }
      %esivitiactlendar_ in ca activity     {% for[
   tivities = rojectAc
    const phe server tties from activire // Sto    
   true;
thView = Monis    let  null;
edDay =  let select
  , 1); - 1entMonth, currearte(currentY = new Da currentDate  letear }};
  rent_y= {{ curntYear let curre};
    t_month } = {{ currenurrentMonth clet    data
 providedver-ith sere wializ    // Initm');
    
yForActivityId('addgetElementBdocument.yForm = ddActivitconst a   ity');
 celAddActivcanntById('lemeent.getEdocumActivity = ncelAdd ca
    constvityModal');ddActi('closeAElementByIdument.get= docityModal dActivcloseAdt ns
    co);ivityModal'ById('addActgetElement= document.yModal tivit const addAcctivité
    d'al d'ajoutpour le moda Variables 
    //
    ntent');ew-cod('day-vilementByIgetE = document.wContentst dayVie con  ');
 eaderew-hyId('day-vilementBnt.getEr = documeeadeiewH const dayV   view');
tById('day-tElemenge = document.onst dayView');
    civity-btn-actd('addmentByIElement.getn = docuddActivityBt aonst  c  -month');
ack-to('byIdementBcument.getEln = doBtbackToMontht );
    consject'xtMonthPro'neementById(nt.getEln = documehBtontst nextM
    conroject');prevMonthPd('ByI.getElementn = documentnthBtrevMonst p
    co;-display')'month-yearyId(getElementBt.men= docusplay earDist monthY
    con-grid');ndar'caleentById(emtElt.gemen= docudarGrid t calen   consr');
 ainecontr-alenda('centByIdElemnt.getcumedoainer = darContconst calen() {
    ', functionoadedontentLstener('DOMCentLient.addEvt>
documscripiv>

<</div>
 
     </d     </div>m>
    /for
         <</div>            tton>
        </bu  an>
             </sp           pan>
  ité</séer l'activ  <span>Cr                     
     </svg>                   
 /path>><6 0H6"6m-v6m0-6h12 6v6m0 0"2" d="Mwidth=" stroke-"roundin=inejostroke-l"round" ke-linecap=ath stro    <p                   
      24 24">0 0"ewBox=r" vi"currentColooke="none" strl=fil"w-4 h-4" vg class= <s                      ">
 e-x-2nter spacr justify-cetems-centex iss="fle   <span cla                 ale-105">
hover:scl transform w-xdoer:shahadow-lg hovont-medium sation-200 fion-all durnsittra-[#a08d80] 5] hover:tom-[#8b735 hover:froe rounded-xlwhit5] text-to-[#8b7350] 8d8a0r from-[#-to-radientbg-gx-6 py-3    class="p                     " 
pe="submitutton ty       <b         
on>/butt         <       
</span>                  </span>
  n>Annulerpa        <s             /svg>
           <             
   >athl12 12"></pL18 6M6 618"M6  d="2"=stroke-width"round" in=nejotroke-lid" sp="rounke-linecaath stro   <p                      
    24"> 24wBox="0 0or" vientColke="curree" stro"non fill=="w-4 h-4"ass<svg cl                    
    >pace-x-2"nter sfy-cer justis-centeflex items="pan clas         <s        
   ">:scale-105nsform hoverdfd3] tra[#e3der-r:bor hovesparentborder-tranrder-2 -medium bo0 fontration-20l dution-alsi3dfd3] tranhover:bg-[#eded-xl ] rounf1efe910] bg-[#916ext-[#13 t6 py- class="px-                      ty" 
 vielAddActid="cancn" ipe="butto<button ty            ]">
    -[#e3dfd3der-t border-3 pt-6 bore-x-y-0 sm:spacpacece-y-3 sm:sify-end spalex-row justex-col sm:f"flex flss=<div cla       -->
     action d's uton Bo   <!--
                   
  div> </           
/div>   <             pan>
eur</ssage d'err">MesionErrorText"validat  <span id=                 g>
    </sv            ath>
     0z"></p 9 9 0 0118 0 11-18 09 9 12a0 4h.01M21  8v4mM12d="th="2" roke-wid" stoin="roundinej" stroke-lound"rinecap=-lrokeath st     <p               ">
    24"0 0 24 iewBox=r" vrentColourtroke="c" snel="no-500" filt-redh-5 texs="w-5 asvg cl<s                 -x-2">
   spacer centems-lex ite"f class=<div               
 xl">ed-3 round700 px-4 py-text-red-ed-400 border-rborder 100 red- bg-den"hidss=" clationErroralida <div id="v           >
dation --reur de valierssage d'<!-- Me             </div>

        
   0]">d8-[#a08rderf9] hover:bo-[#fbfa bgtion-200n-all duratransitio] der-[#a08d800] focus:borng-[#a08d8focus:rig-2 rincus:d-xl forounde#e3dfd3] der-[order-2 bx-4 py-3 bor="w-full p  class                  ."
   umentation..Doc, Tests, éveloppementéunion, Der="Ex: Rcehold       pla           
     " required typee" name="tivityTyp"ac" id=e="textnput typ     <i           el>
/lab     <     >
      ivité</span d'act  <span>Type             svg>
             </    
        path></4-4z">7a4 4 0 013 12V0 0194 -7A1.994 1.9.828 0l-70 01-2a2 2 2.828l-7 7a2 2 0 010 14.586l7 71.4024.195 12 0 1..5 3h5ch.01M7d="M7 7idth="2" stroke-wround" ="e-linejoin strok"round"-linecap=path stroke           <            4 24">
  2"0 0viewBox=entColor" urr"croke=none" st" fill="d80]a08 h-4 text-[#lass="w-4  <svg c          ">
        0]19161ext-[#old tibnt-semm fo text-s-2er space-xntms-ceiteex  class="flpe"activityTy"l for=    <labe        
    ">y-2="space- class      <div
      --> d'activité -- Type    <! 
                </div>
               >
rea"></textaize-noned80] resorder-[#a08ver:bf9] ho00 bg-[#fbfa-2durationon-all siti08d80] tran[#aus:border-] foc8008dng-[#a focus:rifocus:ring-2ounded-xl 3] r[#e3dfdder- borrder-2py-3 boull px-4 -fss="wla  c                     ..."
   vitécti cette aèvementez brier="Décriveholdplac                        
  " requiredrows="3" ption="descri nameescription"ctivityDrea id="a      <texta
          label>  </              pan>
tion</san>Descrip <sp             g>
              </sv     h>
       "></pat8h74 12h16M4 1="M4 6h16M"2" d-width=trokeound" sjoin="rroke-line" stoundecap="re-linokstr    <path                      24 24">
wBox="0 0ie ventColor"roke="curr"none" st" fill=[#a08d80] h-4 text- class="w-4     <svg              10]">
 text-[#1916bold m font-semi-x-2 text-s spacecenterex items-class="flcription" ityDesctivor="al fbe      <la  >
        -y-2"paceclass="siv <d         >
   iption --  <!-- Descr
                  </div>
            div>
        </         iv>
      </d                 div>
        </           ">
     r-[#a08d80]ver:bordeg-white horation-200 bduion-all 0] transitrder-[#a08d8focus:bog-[#a08d80] -2 focus:rinocus:ringunded-xl fd3] roer-[#e3dfbord-3 border-2 4 pyx-ll plass="w-fu           c                        red 
time" requi="end_ame" n"endTime id=ype="time" tinput      <               l>
       fin</labede >Heure 10]"-[#1916-medium textfonttext-sm lass="dTime" cor="en    <label f                      ">
  ace-y-2ass="sp<div cl                   iv>
          </d               >
    a08d80]"border-[#ite hover:on-200 bg-wh durati-all] transition#a08d80-[cus:bordera08d80] fous:ring-[#2 focfocus:ring-ounded-xl -[#e3dfd3] rrderr-2 bo-3 borde pyw-full px-4 class="                                 d 
 e" requiredatname="end_te" ="endDate" id"da<input type=                      l>
      n</labe>Date de fi-[#191610]"-medium textext-sm font="t classendDate"label for="   <                 >
        ace-y-2"="sp<div class             
           ">-4ls-2 gap:grid-comdols-1 "grid grid-cv class=di     <          
            </h4>       
      té</span>activie l'n>Fin dspa        <                 </svg>
                       /path>
4-5.646z"><8.3503 0 009.003 9.03 0 0012 21a6 9.003 9.008.646 3.64 9 0 0154 15.354A9d="M20.3dth="2" stroke-win="round" linejoitroke-und" sap="ronecstroke-lith   <pa                      ">
    4 24Box="0 0 2iewlor" vtCo"curren" stroke=ll="none" fi08d80]t-[#ah-4 tex"w-4 vg class=      <s                  ">
e-x-2spacms-center teex i fl mb-391610]ext-[#1ld t font-semibo"text-smh4 class=   <         ">
        -[#e3dfd3] borderrderp-4 boxl  rounded-8f6f3]"bg-[#fclass=    <div                
       >
           </div          /div>
            <  iv>
               </d                
0]">d8#a08r-[ hover:borde0 bg-white20duration-tion-all 80] transi08d-[#arderboocus:-[#a08d80] fng focus:rius:ring-2 focd-xlnderour-[#e3dfd3] -2 bordey-3 borderpx-4 p-full ="w       class                         ired 
   qu" ret_time"starme" name=artTi="stme" id"ti=pet ty    <inpu                       el>
 but</lab de dé10]">Heuretext-[#1916edium nt-mt-sm foclass="textartTime" l for="s      <labe                >
      y-2"e-"spac<div class=               
         div></                        a08d80]">
er-[#ordover:bbg-white hon-200 duratition-all ] transir-[#a08d80de0] focus:boring-[#a08d8focus:rring-2 focus:nded-xl d3] rouorder-[#e3df border-2 bll px-4 py-3fuss="w-la    c                            
    e" required"start_dat" name=artDated="stte" i"daype=    <input t                
        abel></l débutDate de610]">91ext-[#1edium tt-mm fontext-s"s= clase"tDatstar="for     <label                        e-y-2">
lass="spaciv c<d                     p-4">
   ols-2 gaid-c1 md:gr grid-cols-ss="grid    <div cla      
               </h4>            pan>
   ctivité</sébut de l'apan>D <s                       vg>
 </s                       "></path>
0 018 0z 11-8 0 4 4  4 0707M16 12a4657l-.707. 17..707M6.343707.728 0l-.1207m343l-.707-.76.343 6..707-.707M.364 6.364l-3m15-9h-1M4 12H3v1m0 16v1m9 d="M12 h="2"oke-widtnd" str="roulinejoin stroke-"round"p=ke-lineca stro<path                       ">
     4 24Box="0 0 2or" viewtColrren"cune" stroke=l="no80]" fil08d text-[#as="w-4 h-4las      <svg c                  -2">
r space-xms-centete mb-3 flex i191610] text-[#old font-semibss="text-sm  <h4 cla          
        ">3dfd3]order-[#eder b4 borxl p-d-rounde] 6f3f8f-[#="bg<div class          
      -4">-y"space<div class=           >
  --e débutre dheu-- Date et <!     
                
   div>       </  d80]">
   r-[#a08 hover:bordef9][#fbfan-200 bg--all duratiooniti trans[#a08d80]r-:bordeocus8d80] fus:ring-[#a0-2 focngrius:ocl fnded-xe3dfd3] rou-[#errd border-2 bopx-4 py-3-full class="w                       e..."
 featurentveloppemquipe, Déon éuniEx: Réeholder="  plac            
         ed " requirme="title" naTitled="activityxt" ite"e= typut     <inp        bel>
   la </        
       n>tre</spa   <span>Ti           
      vg>    </s             
   ></path>0 01-2 2z"707V19a2 2 .293.0 01.414a1 1 l5.414 501.707.2931 1 0 5.586a2 2 0 012-2h0 01-2-2V5am2 5H7a2 2  12h6m-6 4h6" d="M9"2h= stroke-widtnd"in="roujo stroke-lined"="rounnecapke-lih stro  <pat                
      ">24x="0 0 24 " viewBorentColoroke="cur" str="none" fill80]xt-[#a08d"w-4 h-4 teg class= <sv            ">
       0]ext-[#19161old tm font-semibext-s space-x-2 tnters-cetemss="flex ile" clatyTitfor="activibel    <la        >
     "ce-y-2="spa<div class          
  e --> Titr!--     <               

    }}"> csrf_token "{{ value=n"etokewariddleame="csrfmden" n="hidtypet   <inpu       
   _token %}srf c  {%          y-6">
"p-6 space-s= clasrm"tyFo="addActivim idfor         <auto">
   rflow-y-"flex-1 ove=assv cl  <di->
      ulaire -ps du form <!-- Cor           
    </div>
 
       n>to  </but    
      g>  </sv           /path>
   12 12"><18 6M6 6l"M6 18L"2" d=e-width=rokound" st"rnejoin=e-li" strok"roundecap=inth stroke-lpa <                  ">
  24 24x="0 0Bo" viewolorurrentC stroke="cne"ill="no-5 h-5" fvg class="w  <s              0">
acity-2over:bg-op hr:bg-white hovefullp-2 rounded-on-colors ransiti tt-gray-200over:tex-white h4 textright-ute top-4 "absol" class=ivityModalcloseAddActbutton id="    <v>
        /di       <  h3>
   </ctivitéelle Ahite">Nouv-bold text-w font"text-xl= <h3 class              iv>
      </d      /svg>
      <               /path>
    6m-6 0H6"><6m0 0v6m0-6h d="M12 6vwidth="2"" stroke-oundinejoin="rstroke-l="round" e-linecapth strok    <pa                
    >4 24"x="0 0 2 viewBontColor""curre" stroke=="nonefillext-white" h-5 t5  class="w-    <svg                
er">ify-center justitems-centull flex 0 rounded-fity-2opace bg- bg-whit"w-10 h-10 class=    <div            ce-x-3">
-center spatemsass="flex idiv cl    <
        -6">-t-2xl punded ro#8b7355]d80] to-[[#a08m-o-r fro-gradient-tative bg"relclass=      <div ->
  dal --tête du mo  <!-- En">
      olx-cx flen flelow-hiddeerfh] ovh-[90vmax-nt  modal-conte5 opacity-0300 scale-9l duration-alition-sform trans4 tranw-lg mx- w-full max-w-2xlhadol sed-2xte roundg-whi"b <div class=sm">
   drop-blur- backnterjustify-center ceflex items-50 60 hidden z- bg-opacity--black inset-0 bg"fixedl" class=tyModaddActivi="a id>
<divité --tive acjouter unour a<!-- Modal pv>

/main>
</di
    <div>      </
    </div>        iv>
          </d     </div>
             
          div>       </          
       -->Script avaéré par Jgéne sera ièrnal la vue jourenu de- Le cont<!-                           ent">
 -view-contay class="dnt"-view-conte"dayiv id=          <d          /div>
    our<r">Jheadeew-day-viclass="w-header" ieay-v"d id=     <div            
       hidden">view lass="day-day-view" cv id=" <di              v>
      </di                   ->
cript -vaSpar Janérés eront géjours sêtes des -t-- Les en     <!                   
id">"calendar-grss=d" clandar-grialev id="c<di                
    ">ontainerendar-ccal" class="-container="calendariv id     <d      
                iv>
          </d        v>
    </di                   ndfor %}
     {% e          
              </div>                 >
  }</spanlast_name }er.memb{ me }} {_naer.first memb>{{[#191610]"t-sm text-"texs=clas   <span                          }"></div>
er.id }membt_item:r_colors|geembe {{ m-color:ound="backgrtylesm" s shadow-er-whitebord2 rder- boounded-full"w-4 h-4 rlass=  <div c                     2">
     r space-x-teenitems-css="flex <div cla                      }
   %ect_members in projor member  {% f                    p-3">
  ex-wrap ga fllex class="fdiv        <         
   4>         </h      
     ojet</span>res du pr <span>Memb               
           </svg>                    "></path>
 0z2 2 0 014 -4 0  110a2 2 00zM7 12 2 0 014  0 3a2 2 0 11-4zm6 3 0 016 011-6 0 3 3 3 0 M15 7a 0 019.28802 5.002 0857m0 0a5.0356-1.83.56.126-1.2.60v-2c0-M7 2.857.356-1 0153 3 07 20H2v-2a.356-1.857M.283-126-12c0-.656-.H7m10 0v-57M17 200-5.356-1.8v-2a3 3 0 017 20h5" d="Mdth="2oke-wi" stroundinejoin="rroke-l"round" st-linecap=th stroke <pa                      
     4 24">ox="0 0 2lor" viewBntCorreoke="cuone" str"n fill=8d80]"4 text-[#a04 h-"w- class=  <svg                  2">
    ace-x-nter spx items-ce fle mb-3[#191610]bold text-ont-semitext-sm fss="h4 cla <           ">
        e3dfd3]border-[#order d-xl b rounde3]4 bg-[#f8f6fs="mb-4 p-as<div cl         ->
        Legend -ember- M     <!-                 
  v>
              </di
          </div>              on>
      tt>▶</buv-button"calendar-nas="" clastonthProjecd="nextM <button i                      n>
 </butto                    n>
     </spa                           s</span>
r au moietou>Rnt-medium"class="fospan           <               
         </svg>                          
    h>at 7-7"></p9l-7-7 d="M15 1"2"roke-width=nd" stoin="rouke-linej" stro"roundlinecap=e-th strokpa           <                        ">
 0 24 24x="0 " viewBoortColurren stroke="ce" fill="non-300"urationte-x-1 dla:-transoverrm group-htransfo transition-"w-5 h-5svg class=          <                   >
   -2"ce-xspas-center lex item"fpan class=      <s                ">
      /20 hiddenr-whiterdel border bor:shadow-2xveow-lg ho-1 shadanslate-y5 hover:-trscale-10er:ansform hovn-300 trduratiol sition-al5 tran8d80]/9[#a0o-er:tov7355]/95 h[#8bm-rol hover:funded-2x-white roextblur-md top-backdr#8b7355]/90 d80]/90 to-[from-[#a08ient-to-r y-3 bg-gradtive px-6 poup relass="gr-month" clato"back-utton id=<b                        tton>
    </bu                    pan>
   </s                        
 /span>ivité<er une actAjoutedium">-mass="fontspan cl          <                  /svg>
        <                        
    6"></path>0H-6 0 0v6m0-6h6m2 6v6m"2" d="M1e-width=nd" strok"rouejoin=" stroke-linnd"roup=ca stroke-line       <path                           ">
   24 0 24ox="0lor" viewBtCorrenoke="cu"none" str300" fill=n- duratio:rotate-90roup-hovernsform g-transitionh-5 tra"w-5 svg class=         <                   2">
    e-x-r spacms-centete"flex i class=  <span                   
       20">-white/r border2xl bordeshadow-over:-lg h shadowate-y-1-translhover:e-105 ver:scal hoform00 transduration-3on-all 95 transitid80]/[#a08r:to-95 hove]/[#8b7355rom--2xl hover:foundedt-white rur-md texrop-bl0 backd7355]/98b/90 to-[#80]rom-[#a08d-to-r fg-gradient-6 py-3 be pxivelatup rlass="groy-btn" cvitctin id="add-a   <butto                ">
     enter gap-2 items-c="flexss   <div cla      
           ar }}</h3>urrent_yename }} {{ cnth_ mo1610]">{{-[#19xtold tesemibl font-text-x" class="aydispl-year-3 id="month    <h                on>
</buttutton">◀ar-nav-bss="calendct" clathProjevMonid="pre<button          
           header">lendar-v class="ca   <di    
         ] p-6"> bg-[#fbfaf93]fd[#e3der border--xl bordndedlass="rou   <div c      >
    gap-4"flex-col"flex class=iv    <d -->
     u projetivités d actdrier des  <!-- Calen   ">
   lg:px-8-6  sm:px6 px-4ll py-w-fu-1 lexlass="fn cai -->
    <ment Cont   <!-- Main-col">
 flex flex-h-screen inclass="m %}
<div entcontock 

{% blk %}dbloce>
{% en
</styly: 0;
}
    opacitle(0.95);sform: scaan   tr
 e;eas 0.3s ion: allit
    transt {enal-cont.modant;
}

portacity: 1 !imnt;
    op(1) !importaorm: scale    transftent {
w .modal-conhoodal-s.m
}

t;ex !importanflplay: 
    dis{show odal-
.mnt;
}
!importaplay: none  {
    disidden/
.hal styles *
/* Mod0.3);
}
141, 128, , gba(160 12px rhadow: 0 4pxox-s
    b scale(1.1);sform:
    tranon:hover {v-butt-nacalendar

.d;
}weight: bolfont-2rem;
    size: 1.nt-;
    fos easeon: all 0.2iti   transr;
 sor: pointeur
    ccenter;fy-content: justi    r;
s: centelign-item a
   x;display: fle   px;
 ght: 40   heith: 40px;
  wid   ;
dius: 50%border-raone;
    der: nte;
    bor  color: whi;
   #8C7B71)or),y-colr(--primar vag,(135de-gradientinearground: l   back
 ton {v-butar-naalendtons */
.ction butgaNavi
/* B5B4F;
}
olor: #685;
    copacity: 0.
    .4;: 1heighte-    lin: 0.8rem;
ze font-si{
   on ty-descriptiy-activi.da

B7355;
}r: #8m;
    coloom: 0.25re-bott
    margin0.8;city: opa  em;
  .75rize: 0
    font-s-time {ityday-activ
.7;
}
5D4E3or: #
    colm: 0.25rem;tto   margin-bo 600;
 ight:font-we
    title {tivity-}

.day-ac, 0.2);
0, 141, 128 rgba(1620pxow: 0 6px   box-shad-2px);
  Y(anslate(4px) trlateXm: trans transfor   er {
:hovityday-activ
}

., 128, 0.1);gba(160, 141px rpx 8 2-shadow: 0box);
    r(10pxer: blurop-filt
    backdrent;d transpa3px solileft:     border-;
easel 0.3s sition: alr;
    trantesor: poin37;
    curr: #5D4Ecolo
    m;.875re 0nt-size:px;
    foadius: 12   border-rem;
  0.75radding:m;
    p5re-bottom: 0.7    marginative;
ition: relosty {
    p
.day-activi.5rem;
}
g-bottom: 0
    paddinrem;-left: 1ingadd0.3);
    p, 141, 128, a(160px solid rgber-left: 2m;
    bord-height: 3re
    mintive;sition: rela {
    poitiesactivhour-;
}

.3remine-height: rem;
    lt: 1igh  padding-r  : right;
lign-a
    text0.7);93, 78, 55, ba(color: rg
    0;t: 60ighont-weem;
    f875rt-size: 0.
    fonhour-label {;
}

.: 0.5remrightpadding- auto;
    overflow-y:;
    pxt: 500heighmax-    em;
gap: 1r   
  1fr;pxlumns: 80colate-  grid-temp;
  gridplay: t {
    disonten-c-viewday

.r-color);
}ar(--borded v 2px soli-bottom:  borderrem;
  -bottom: 1dingr;
    padcentelign: -a
    text: 1.5rem;argin-bottomark);
    mor-dt-colexar(--t color: v
   5rem;ze: 1.font-si 700;
    ight: font-we   er {
ew-heady-vi

.da;
} width: 100%em;
   5ring: 1.;
    padd 12pxr-radius:deort);
    bghvar(--bg-liound-color: backgr
     {-viewles */
.daysty view  Day;
}

/*al: norm-space;
    whitewidth: 200px8;
    max-opacity: 0.rem;
    ize: 0.7
    font-sscription {tooltip-dey-tivit}

.acrem;
0.125bottom:     margin-y: 0.9;

    opacit 0.7rem;ze:ont-sifo {
    f-invity-tooltipctim;
}

.atom: 0.25rebotgin-ar m  
 : 600;font-weightle {
    -tooltip-tittyvi
.acti 1;
}
  opacity:{
  tooltip ctivity- .a-item:hovertyctivi
.a9);
}
, 0, 0.gba(0, 0p-color: rtorder-
    boarent;lid transp5px soorder:  b%);
   50ranslateX(-nsform: ttra: 50%;
    left    
100%;p: 
    tolute;soon: ab
    positit: '';
    contener {ip::afttivity-toolt}

.ac;
, 0, 0, 0.3)rgba(0x 4px 12p 0 ox-shadow:    b2s ease;
ty 0.n: opaciionsit
    tras: none;ter-event
    poin 0;y:
    opacit 1000;  z-index:wrap;
  ace: noe-sphit    wrem;
.75-size: 0;
    font-radius: 8pxder    bor75rem;
 padding: 0.;
   or: white9);
    col0, 0, 0.ba(0, ckground: rg
    ba(-50%);translateXform: 
    transft: 50%;le00%;
    ttom: 1e;
    boutoln: abs    positio{
ltip tooactivity-styles */
./* Tooltip 

y-color);
}(--primarr-color: var
    bordeg-white);var(--b   color: 
 lor);ry-corimar: var(--pround-colo
    backgr {ivities:hovemore-act
.e;
}
ion: relativ
    positndex: 10;-i    zm;
0.25retop:  margin- ease;
   on: all 0.2ssiti
    tranr: pointer;urso;
    ccolor)er-rdar(--bo dashed vpx: 1orderrem;
    b25dding: 0.   paius: 4px;
 order-rad be);
   bg-whitvar(--: ground-colorck   bacenter;
 t-align: tex
    );olor-medium--text-cvar(olor: 500;
    cnt-weight: 
    fo7rem;0.:    font-sizevities {
 re-acti1;
}

.moC7B7t-color: #8der-lef   bor8C7B71);
 or), #mary-colg, var(--print(135de-gradied: linearrounackg b
   {ogress item.inpr
.activity-);
}
0, 0.15, (0, 0rgbapx : 0 2px 8ox-shadow    bteX(2px);
ranslam: t   transforover {
 -item:h

.activity} 0, 0.1);
ba(0, 0, rg3pxw: 0 1px x-shado
    boarent;id transpder: 2px sol borease;
   : all 0.2s   transitionative;
  relition: is;
    pos: ellipsext-overflow
    tn;: hiddeowrflap;
    oveowre: ne-spac;
    whitinter cursor: po;
   (--bg-white)r: var0;
    coloweight: 50font-m;
     0.75resize:    font-: 6px;
dius   border-ra
  0.5rem; 0.375remg:
    paddinm {ity-ite

.activve;
}relatisition:  poisible;
   erflow: vov: 1;
    row-g flex
   : 100%;dth wi;
   em: 0.25rmn;
    gapon: colu-directix;
    flexledisplay: f    tainer {
tivities-con
}

.acflex-start;f:  align-selem;
   ttom: 0.5rn-bo  margi  );
t-color-dark-texvar(-olor:    c
 : 600;t-weightfon    ize: 1rem;
   font-s
 -date {endar.cal 700;
}

ont-weight:te);
    fhir(--bg-w valor:
    cote {daendar-y .calr-cell.toda.calenda
}

white); var(--bg-   color:8C7B71);
 , #color)ary-ar(--prim135deg, vt(-gradienund: linear    backgrol.today {
alendar-cel3;
}

.c #F8F6Fund-color:ckgrone;
    ba: no-shadow;
    box nonem:   transforover {
 :hinactiveell.ndar-cale}

.cault;
or: def  cursC7B299;
      color: #F3;
color: #F8F6 background-tive {
   cell.inac
.calendar-x: 10;
}
z-inde   0, 0.1);
  0, 2px rgba(0,0 4px 1adow: box-sh    1.02);
cale(ransform: sht);
    t--bg-ligar(lor: v-cooundckgrba   l:hover {
 elr-c

.calenda;
}ng: 0.5pxpaciletter-s   ppercase;
 rm: uxt-transfo  te875rem;
  t-size: 0.
    fonlight);--bg-var(: round-color  backg
  .5rem;em 0ing: 1rdd    par;
 centealign:   text-);
 color-medium var(--text-lor:co   00;
  6nt-weight:
    for {day-headendar-
.caleter;
}
or: poin
    cursble;w: visi  overflow 0.15s;
  x-shadon: bo transitio5rem;
   adius: 0.2order-r
    be; relativosition:;
    pflex-startgn-items:  ali;
   : columntionirec flex-dex;
    flisplay:3rem;
    d0.3rem 0.1rem em 0.ng: 0.25r
    paddight: 150px;-hei    max: auto;
 height20px;
   height: 1n-mi
    t);ar(--bg-lighr: volound-c    backgro{
r-cell enda
}

.calight: 600px;    min-he%;
  width: 100;
  : 0.5remottom   margin-bht);
 r(--bg-ligolor: vackground-cn;
    baow: hidde   overflem;
 .5r 0dius:r-radeor  b;
  r)der-colo--bor solid var(pxer: 1x;
    bordap: 2p g
   ;at(7, 1fr)lumns: repeemplate-co   grid-tid;
 : gr   display-grid {
 aralend
}

.c column;ion:irect   flex-dy: flex;
 ispla d
   ble;low: visi
    overfs: 12px;-radiuborder
    te);-bg-whi(-d-color: vargrounckba100%;
       width: tive;
 sition: rela
    potainer {alendar-con*/
.cstyles Calendar anced 
/* Enh610;
}
191-color: # --nav-link9;
   ht: #F1EFE-lig-button-bg -   D3;
or: #E3DF-colrder8;
    --boB4Aght: #B8r-li-colo    --text
5A;C7E#8medium: r-colo
    --text-191610;or-dark: # --text-colF7;
   F9F8ht: #  --bg-lig
  ;ite: #FFFFFFbg-wh   --4B0;
 D4Color: #t-c  --accen71;
   #8C7B-color:condary  --se#A08D80;
  mary-color: 
    --priot {
:ro
<style>s %}lea_styk extr% blocs %}

{raoad dict_ext% lml" %}
{e.htlsBasprojectDetai extends "{%